<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel [sqtmCoreAnchorPanel]="'dashboard'" [sqtmCoreAnchorCollapsePanel]="'dashboard'"
                           [nzHeader]="dashboardTitle" class="anchor">
          <ng-template #dashboardTitle>
            <div class="flex-row full-width" style="justify-content: space-between; overflow: hidden">
              <div class="entity-view-collapse-panel-title flex-fixed-size m-r-10">
                <span
                  *ngIf="componentData.testCaseFolder.dashboard; else defaultDashboardTitle">{{componentData.testCaseFolder.dashboard.name}}
                  </span>
                <ng-template #defaultDashboardTitle>
                  <span>{{'sqtm-core.generic.label.dashboard.title' | translate}}</span>
                </ng-template>
              </div>
              <ng-container
                *ngIf="componentData.testCaseFolder.dashboard || componentData.testCaseFolder.statistics">
                <div class="txt-ellipsis m-r-10 m-t-2 generated-label label-color">
                  {{'sqtm-core.generic.date.prefix.generated-on'|translate|capitalize}} {{componentData.testCaseFolder.generatedDashboardOn | date:'medium'}}
                </div>
                <button class="flex-fixed-size" [attr.data-test-component-id]="'refresh-button'"
                        nz-button [nzType]="'primary'" [nzSize]="'small'"
                        nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.refresh' | translate | capitalize"
                        (click)="refreshStats($event, componentData)">
                <span>
                  <i nz-icon nzType="sqtm-core-generic:refresh" nzTheme="outline"></i>
                </span>
                </button>
              </ng-container>
              <button
                *ngIf="!componentData.testCaseFolder.shouldShowFavoriteDashboard"
                class="flex-fixed-size m-l-5" [attr.data-test-component-id]="'favorite-button'"
                nz-button [nzType]="'primary'" [nzSize]="'small'"
                nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.favorite' | translate"
                (click)="displayFavoriteDashboard($event)">
                <span>
                  {{'sqtm-core.generic.label.favorite' | translate}}
                </span>
              </button>
              <button *ngIf="componentData.testCaseFolder.shouldShowFavoriteDashboard" class="flex-fixed-size m-l-5"
                      [attr.data-test-component-id]="'favorite-button'"
                      nz-button [nzType]="'primary'" [nzSize]="'small'"
                      nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                      (click)="displayDefaultDashboard($event)">
                {{'sqtm-core.generic.label.default' | translate}}
              </button>
            </div>
          </ng-template>
          <ng-container *ngIf="componentData.testCaseFolder.shouldShowFavoriteDashboard; else statisticsPanel">
            <div *ngIf="componentData.testCaseFolder.dashboard;else noFavoriteDashboard" style="height: 84vh">
              <ng-container *ngIf="componentData.testCaseFolder.dashboard.chartBindings.length !== 0 ||
              componentData.testCaseFolder.dashboard.reportBindings.length !== 0; else emptyDashboardMessage">
                <sqtm-app-custom-dashboard
                  [dashboardId]="componentData.testCaseFolder.dashboard.id"
                  [chartBindings]="getChartBindings(componentData.testCaseFolder.dashboard)"></sqtm-app-custom-dashboard>
              </ng-container>
              <ng-template #emptyDashboardMessage>
                <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
              </ng-template>
            </div>
            <ng-template #noFavoriteDashboard>
              <div style="height: 84vh; text-align: center">
            <span style="font-weight: 600">
            {{'sqtm-core.generic.workspace.messages.add-favorite-dashboard' | translate}}
          </span>
              </div>
            </ng-template>

          </ng-container>
          <ng-template #statisticsPanel>
            <sqtm-app-test-case-statistic-panel *ngIf="componentData.testCaseFolder.statistics"
                                                [statistics]="componentData.testCaseFolder.statistics"
                                                [scope]="this.getStatisticScope(componentData.testCaseFolder)">
            </sqtm-app-test-case-statistic-panel>
          </ng-template>
        </nz-collapse-panel>
        <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                           sqtmCoreAnchorLastPanel [nzHeader]="informationTitle" class="anchor">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.test-case-workspace.title.information' | translate}}</div>
          </ng-template>
          <div class="test-case-folder-information-grid">
            <sqtm-core-label
              [text]="'sqtm-core.entity.generic.description.label' | translate">
            </sqtm-core-label>
            <sqtm-core-editable-rich-text [size]="'default'"
                                          [border]="true"
                                          [focus]="true"
                                          [sqtmCoreEntityViewEditableRichTextField]="'description'"
                                          [attr.data-test-field-id]="'description'"
                                          [placeholder]="'sqtm-core.generic.editable.description.placeholder'|translate">
            </sqtm-core-editable-rich-text>
            <ng-container *ngFor="let cfd of customFieldData; trackBy: trackCfd">
              <sqtm-core-label class="test-case-grid-first-column"
                               [text]="cfd.label">
              </sqtm-core-label>
              <div>
                <sqtm-core-custom-field-widget
                  [sqtmCoreEntityCustomField]="cfd"
                  [attr.data-test-customfield-id]="cfd.name">
                </sqtm-core-custom-field-widget>
              </div>
            </ng-container>
          </div>
        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>

