<sqtm-core-empty-workspace-with-navbar [name]="'bugtracker-workspace'"
                                       [licenseInformation]="referentialDataService.licenseInformation$ | async"
                                       [theme]="'administration-workspace'"
                                       [isLoggedAsAdmin]="referentialDataService.isAdmin() | async">
  <ng-container *ngIf="!isLoading">
    <iframe class="full-width full-height p-10" *ngIf="url; else bugtrackerNotFound"
            [src]="url"></iframe>
    <ng-template #bugtrackerNotFound>
      <span class="sqtm-core-error-message full-width bugtracker-not-found">{{'sqtm-core.error.bugtracker.not-found' | translate}}</span>
    </ng-template>
  </ng-container>
</sqtm-core-empty-workspace-with-navbar>
