<div cdkDropList cdkDropListOrientation="horizontal"  (cdkDropListDropped)="drop($event)">
  <nz-tag *ngFor="let option of options; let i = index"
          [nzMode]="getNzMode()"
          (nzOnClose)="handleClose(option)"
          class="m-b-2"
          cdkDrag>
    {{option}}
    <div *cdkDragPreview class="container-border container-border-color neutral-background-color p-l-3 p-r-3 m-b-5">{{option}}</div>
  </nz-tag>
</div>

<div>
  <nz-tag *ngIf="!inputVisible" [attr.data-test-component-id]="'add-tag-placeholder'" class="editable-tag" nzNoAnimation (click)="showInput()"> <i nz-icon nzType="plus"></i> {{placeholder}} </nz-tag>

  <input
    #inputElement
    [attr.data-test-component-id]="'add-tag-field'"
    nz-input
    nzSize="small"
    *ngIf="inputVisible"
    type="text"
    [(ngModel)]="inputValue"
    style="width: 78px;"
    (blur)="handleInputConfirm()"
    (keydown.enter)="handleInputConfirm()"
  />
</div>
