.item {
  transition: background .3s;

  &:hover {
    background: var(--background-color);
  }
}

.item-selected {
  background: var(--background-color);
  font-weight: 500;
}

.container {
  border-radius: 3px;
  box-shadow: 0 0 10px 0 #00000030;
  overflow: hidden;
  user-select: none;
}
