<ng-container *ngIf="columnDisplay">
  <div class="full-width full-height flex-row" [sqtmCoreWorkspace]="getWorkspace()" [localTheme]="true">
    <ng-container *ngFor="let ancestorIsLast of depthArray">
      <div class="flex-fixed-size full-height"
           [style.width]="INDEX_BASE_WIDTH + 'px'">
      </div>
    </ng-container>
    <div class="flex-fixed-size full-height status-icon-container"
         [style.width]="INDEX_BASE_WIDTH + 'px'">
      <div *ngIf="!row.async && row.state !== 'leaf'" class="status-icon" [attr.data-test-row-toggle]="true"
           (click)="toggleRow($event)">
        <i nz-icon [nzType]="stateIcon" nzTheme="outline"></i>
      </div>
      <div *ngIf="row.async && row.state !== 'leaf'" class="async-icon">
        <i class="current-workspace-main-color" nz-icon nzType="loading" nzTheme="outline"></i>
      </div>
    </div>
    <ng-container [ngSwitch]="templateName">
      <ng-container *ngSwitchCase="'entity'">
        <ng-container *ngTemplateOutlet="entity"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'attribute'">
        <ng-container *ngTemplateOutlet="attribute"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #entity>
  <div #openable class="entity txt-ellipsis current-workspace-main-color" [class.selected]="selected" [sqtmCoreSelectable]="row.id"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px" nz-icon [nzType]="entityIcon" nzTheme="fill"></i>
    <span class="m-l-10 m-r-15 txt-ellipsis name">{{nodeName}}</span>
  </div>
</ng-template>

<ng-template #attribute>
  <div class="external-capsule txt-ellipsis" [sqtmCoreSelectable]="row.id">
    <div class="full-height flex-fixed-size capsule-left-color-indicator"
         [class.custom-field]="isCustomField()" [style.background-color]="capsuleBorderColor">
    </div>
    <div class="full-height full-width txt-ellipsis inner-capsule" [class.selected]="selected">
      <span class="m-l-10 m-r-15 txt-ellipsis name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>
