<ng-container *ngIf="authenticatedAdmin$ | async as authenticatedUser; else loading">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>
