<div class="flex-row full-height full-width" [ngClass]="getComponentClasses()" *ngIf="!edit" (click)="enableEditMode()">
  <div [innerHTML]="displayValue | safeRichContent" class="field-value-color" *ngIf="value; else placeHolderTemplate">
  </div>
  <ng-template #placeHolderTemplate>
     <span *ngIf="editable && showPlaceHolder" class="sqtm-placeholder">
        {{!!placeholder ? placeholder : 'sqtm-core.generic.editable.placeholder'|translate}}
     </span>
  </ng-template>
  <i *ngIf="editable" class="pencil-icon flex-fixed-size" nz-icon [nzType]="getEditableIcon()" nzTheme="outline"></i>
</div>
<div class="flex-column" [ngClass]="getComponentClasses()" *ngIf="edit">
  <div class="flex full-width full-height" style="align-items: center">
    <input #input nz-input
           [ngClass]="getInputFieldCss()"
           (keyup.enter)="handleKeyupEnter()"
           (keyup.escape)="closeOptionMenu()"
           (keydown.arrowUp)="activateOptionAbove($event)"
           (keydown.arrowDown)="activateOptionBelow($event)"
           [formControl]="formControl"
           [nzSize]="size"
           (input)="handleInputChange($event)"
           (blur)="handleBlur()"/>
    <ng-container *ngIf="mustShowButtons()">
      <button nz-button nzType="primary"
              [ngClass]="getConfirmButtonCss()"
              [nzSize]="size"
              [nzLoading]="pending"
              (click)="confirm()"
      >
        <i nz-icon [nzType]="'check'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.confirm' | translate | capitalize}}
        </ng-container>
      </button>
      <button nz-button nzType="default"
              [nzSize]="size"
              [ngClass]="getCancelButtonCss()"
              [nzLoading]="pending"
              (click)="cancel()">
        <i nz-icon [nzType]="'close'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
        </ng-container>
      </button>
    </ng-container>
  </div>
</div>

<ng-template #template>
  <div class="autocomplete-menu-container">
    <div class="autocomplete-menu">
      <sqtm-core-action-autocomplete-field-option
        *ngFor="let option of options; let index = index;"
        [value]="option"
        (mousedown)="selectOptionWithMouse($event, option)"
        (mouseover)="activateOption(index)">
      </sqtm-core-action-autocomplete-field-option>
    </div>
  </div>
</ng-template>
