<div class="full-width flex-fixed-size"
     [attr.data-test-component-id]="'execution-step'"
     [attr.data-test-execution-step-id]="step.id">
  <div #dropFileZone class="flex-row full-width step-list-element"
       [ngStyle]="getExecutionStepLeftBorderColor(step.executionStatus)"
       sqtmCoreAttachmentDropZone
       (filesDropEvent)="addAttachment($event)"
       (filesDragEnterEvent)="handleAttachmentEnter()"
       (filesDragLeaveEvent)="handleAttachmentLeave()"
  >
    <div class="flex-column index-column flex-fixed-size"
         [ngStyle]="getExecutionStepBackgroundColor(step.executionStatus)">
      <div class="index-typography">{{this.step.order + 1}}</div>
    </div>
    <div class="full-width m-l-10 m-b-10">
      <sqtm-app-execution-step-header-toolbar
        [step]="step"
        [execution]="execution"
        [disabledExecutionStatus]="disabledExecutionStatus"
        [permissions]="permissions"
        [milestonesAllowModification]="milestonesAllowModification"
        [bugtracker]="bugtracker"
        [authenticated]="authenticated"
        [issuesNb]="issues.length"
        (refreshData)="this.refresh()"
        (stepToggled)="removeCommentFieldForceDisplay()"
        (editCommentField)="this.addComment()"
        (addAttachment)="this.addAttachment($event)"
      >
      </sqtm-app-execution-step-header-toolbar>

      <div class="full-width m-t-5" [ngClass]="getExecutionStepGridClass()" #grid
           [class.collapsed]="!step.extended">
        <div #header class="header-action" [class.header-collapsed]="!step.extended">
          <ng-container *ngIf="step.extended then actionHeaderTemplate else actionHeaderCollapsedTemplate">
          </ng-container>
        </div>
        <div class="header-result" *ngIf="execution.kind === 'STANDARD'" [class.header-collapsed]="!step.extended">
          <ng-container *ngIf="step.extended then resultHeaderTemplate else resultCollapsedTemplate">
          </ng-container>
        </div>
        <div *ngIf="step.extended" class="action block-border" style="overflow: hidden">
          <div class="m-l-10" [attr.data-test-component-id]="'execution-step-action'" [innerHTML]="action"></div>
        </div>
        <div *ngIf="step.extended && execution.kind === 'STANDARD'" class="result block-border" style="overflow: hidden">
          <div class="m-l-10" [attr.data-test-component-id]="'execution-step-expected-result'" [innerHTML]="expectedResult"></div>
        </div>
      </div>

      <div *ngIf="step.extended && execution.kind === 'STANDARD' && executionStepCustomFields.length > 0  ||
                  step.extended && step.denormalizedCustomFieldValues.length > 0" style="overflow: hidden">
        <div class="m-t-15 m-b-5 header-color">
          {{'sqtm-core.entity.custom-field.label.plural'|translate}}
        </div>
        <div class="custom-fields m-t-10 block-border">
          <ng-container *ngFor="let dfv of step.denormalizedCustomFieldValues; let index = index;">
            <div class="flex-row overflow-hidden m-l-10">
              <label nz-tooltip
                     [nzTooltipTitle]="'sqtm-core.campaign-workspace.execution-page.dnz-cuf.test-step.tooltip' | translate"
                     [attr.data-test-component-id]="'execution-dnz-label-' + index"
                     class="txt-ellipsis">{{dfv.label}}
              </label>
              <label class="m-l-3">*</label>
            </div>
            <div>
              <sqtm-app-denormalized-custom-field [denormalizedFieldValue]="dfv"
                                                  [attr.data-test-component-id]="'execution-dnz-value-' + index">
              </sqtm-app-denormalized-custom-field>
            </div>
          </ng-container>
          <ng-container *ngFor="let customField of executionStepCustomFields;">
            <sqtm-core-label [text]="customField.label" class="m-l-10"></sqtm-core-label>
            <div>
              <sqtm-core-custom-field-widget
                [customField]="customField"
                [value]="getCfvValue(customField)"
                [editable]="permissions.canExecute && milestonesAllowModification"
                (confirmEvent)="updateCustomFieldValue(customField, $event)">
              </sqtm-core-custom-field-widget>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="(this.forceCommentFieldDisplay$ | async) || step.comment && step.extended" style="overflow: hidden">
        <div class="m-t-15 m-b-5 header-color">
          {{'sqtm-core.entity.execution.comment'|translate}}
        </div>
        <div class="m-t-10 block-border">
          <sqtm-core-editable-rich-text
            #commentField
            [value]="step.comment"
            [focus]="true"
            [editable]="permissions.canExecute && milestonesAllowModification"
            [attr.data-test-field-id]="'comment'"
            (confirmEvent)="changeComment($event)"
            (cancelEvent)="this.removeCommentFieldForceDisplay()">
          </sqtm-core-editable-rich-text>
        </div>
      </div>

      <div *ngIf="step.extended && step.attachmentList.attachments.ids.length > 0">
        <div class="m-t-15 m-b-5 header-color">{{'sqtm-core.entity.attachment.label.long.plural'|translate}}</div>
        <div class="block-border m-t-10 p-l-10">
          <sqtm-core-attachment-list-compact
            [attachments]="getAttachments(step)"
            [attachmentListId]="step.attachmentList.id"
            [canAttach]="permissions.canAttach && milestonesAllowModification"
            (deleteAttachmentEvent)="deleteAttachment($event, step.id)"
            (confirmDeleteAttachmentEvent)="confirmDeleteAttachmentEvent($event, step.id, step.attachmentList.id)"
            (cancelDeleteAttachmentEvent)="cancelDeleteAttachmentEvent($event, step.id)"
            (removeRejectedAttachmentEvent)="removeRejectedAttachment($event, step.id)"
          >
          </sqtm-core-attachment-list-compact>
        </div>
      </div>

      <div *ngIf="step.extended && issues.length > 0">
        <div class="m-t-15 m-b-5 header-color">{{'sqtm-core.entity.issue.label.plural'|translate}}</div>
        <div class="issues block-border m-t-10 p-l-10">
          <ng-container *ngFor="let issue of issues; let index = index;">
            <div class="row-wrapper" [attr.data-test-component-id]="'issue-' + index">
              <a [href]="issue.data['url']" target="_blank" class="txt-ellipsis" [attr.data-test-field-id]="'remoteId'">
                {{issue.data['remoteKey'] || issue.data['remoteId']}}
              </a>
              <span class="txt-ellipsis" [attr.data-test-field-id]="'btProject'">{{issue.data['btProject']}}</span>
              <span class="txt-ellipsis" [attr.data-test-field-id]="'summary'">{{issue.data['summary']}}</span>
              <span [attr.data-test-field-id]="'priority'">{{issue.data['priority']}}</span>
              <div class="delete">
                  <span class="delete-issue-icon" *ngIf="permissions.canDelete"
                        [attr.data-test-field-id]="'delete-issue'"
                        (click)="deleteIssue(issue.data['issueId'])">
                    <i nz-icon nzType="sqtm-core-generic:unlink" nzTheme="outline"></i>
                  </span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #actionHeaderTemplate>
  <span class="header-color">
    {{(execution.kind === 'GHERKIN'? 'sqtm-core.entity.test-step.script' : 'sqtm-core.entity.test-step.action.singular') |translate}}
  </span>
  <div class="action-resize-handler" sqtmCoreResizable
       (resize)="handleResize($event)"></div>
</ng-template>

<ng-template #actionHeaderCollapsedTemplate>
  <div class="flex-fixed-size">
    <span class=" header-color">
      {{(execution.kind === 'GHERKIN'? 'sqtm-core.entity.test-step.script' : 'sqtm-core.entity.test-step.action.singular') |translate}} :&nbsp;
    </span>
  </div>
  <div class="full-height full-width header-collapsed-rich-text m-l-5 m-r-5" [innerHTML]="action"></div>
</ng-template>

<ng-template #resultHeaderTemplate>
  <span class="header-color">{{"sqtm-core.entity.test-step.expected-result.label"|translate}}</span>
</ng-template>

<ng-template #resultCollapsedTemplate>
  <div class="flex-fixed-size">
    <span class="header-color">{{"sqtm-core.entity.test-step.expected-result.label"|translate}} :</span>&nbsp;
  </div>
  <div class="full-height full-width header-collapsed-rich-text m-l-5" [innerHTML]="expectedResult"></div>
</ng-template>
