<span [class.current-workspace-button]="active"
      [class.__hover_pointer]="active"
      [class.label-color]="!active"
      (click)="handleClick($event)">
  <ng-container *ngIf="!asyncRunning; else asyncRunningTpl">
    <ng-content></ng-content>
  </ng-container>

  <ng-template #asyncRunningTpl>
     <i nz-icon nzType="loading" nzTheme="outline"
        class="action-icon-size">
     </i>
  </ng-template>
</span>
