<div class="full-width" [formGroup]="formGroup">
  <input nz-input [formControlName]="field.id" [nzAutocomplete]="auto" />
  <nz-autocomplete [nzDataSource]="getAutocompleteOptions()" nzBackfill #auto></nz-autocomplete>

  <div class="has-error" *ngFor="let error of errors">
    <span [attr.data-test-error-key]="error.provideI18nKey()" class="sqtm-core-error-message">{{error.provideI18nKey()| translate}}</span>
  </div>
</div>
