<div class="flex-row" [ngClass]="getComponentClasses()" *ngIf="!edit">
          <span class="field-value-color" *ngIf="value; else placeHolderTemplate" (click)="enableEditMode()">
        {{value}}
      </span>
  <ng-template #placeHolderTemplate>
            <span *ngIf="editable" class="sqtm-placeholder" (click)="enableEditMode()">
             {{!!placeholder ? placeholder : 'sqtm-core.generic.editable.placeholder'|translate}}
            </span>
  </ng-template>
  <i *ngIf="editable" class="pencil-icon flex-fixed-size" nz-icon nzType="edit" nzTheme="outline" (click)="enableEditMode()"></i>
</div>
<div class="flex-column" [ngClass]="getComponentClasses()" *ngIf="edit">
  <div class="flex full-width">
    <nz-input-number class="full-width"
                     [nzAutoFocus]="true"
                     [ngClass]="getInputFieldCss()"
                     [nzSize]="size"
                     [nzMax]="max"
                     [nzMin]="min"
                     [(ngModel)]="model"
                     (focusout)="handleBlur($event)"
                     (keyup)="handleKeyboardInput($event.keyCode)"
                     ngDefaultControl
    ></nz-input-number>
    <ng-container *ngIf="mustShowButtons()">
      <button nz-button nzType="primary"
              class="editable-numeric-field-confirm-button"
              [ngClass]="getConfirmButtonCss()"
              [nzSize]="size"
              [nzLoading]="pending"
              (click)="confirm()"
      >
        <i nz-icon [nzType]="'check'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.confirm' | translate | capitalize}}
        </ng-container>
      </button>
      <button nz-button nzType="default"
              class="editable-numeric-field-cancel-button"
              [nzSize]="size"
              [ngClass]="getCancelButtonCss()"
              [nzLoading]="pending"
              (click)="cancel()">
        <i nz-icon [nzType]="'close'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
        </ng-container>
      </button>
    </ng-container>
  </div>
  <div class="flex-column full-width has-error m-t-10" *ngIf="dirty && externalErrors.length > 0">
    <span *ngFor="let error of externalErrors" class="sqtm-core-error-message">{{error}}</span>
  </div>
</div>
