<sqtm-core-customisable-dialog [titleKey]="configuration.titleKey" [dialogId]="configuration.id">
  <sqtm-core-dialog-body>
    <div class="flex-row body-content m-t-5">
      <ng-container [ngSwitch]="configuration.level">
        <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
           [nzTwotoneColor]="'#1890FF'"></i>
        <i *ngSwitchCase="'DANGER'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
           [nzTwotoneColor]="'#FF0000'"></i>
        <i *ngSwitchCase="'WARNING'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
           [nzTwotoneColor]="'#FAAD14'"></i>
      </ng-container>
      <span [attr.data-test-dialog-message]="true" [innerHTML]="configuration.messageKey | translate:getTranslateParameters()"></span>
    </div>
  </sqtm-core-dialog-body>

  <sqtm-core-dialog-footer>
    <button
      [attr.data-test-dialog-button-id]="'close'"
      class="flex-fixed-size" nz-button nzType="default"
      sqtmCoreDialogClose>{{'sqtm-core.generic.label.close' | translate}}</button>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>
