.campaign-folder-information-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
}

.campaign-information-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.campaign-grid-first-column {
  grid-column-start: 1;
  grid-column-end: 1;
  word-break: break-word;

  &-milestone {
    grid-row: 4;
  }
}

.campaign-grid-group-three-column {
  grid-column-start: 2;
  grid-column-end: 5;

  &-milestone {
    grid-row: 4;
  }
}

.content-body {
  overflow-y: hidden;
  border: solid 1px var(--background-color);
  height: 100%;
  padding-left: 18px;
}
