<div class="section" *ngIf="section">
  <div class="fields">
    <ng-container *ngFor="let field of section.fields">
      <label>
        {{field.name | translate}}
      </label>
      <sqtm-app-print-field-value
        [field]="field">
      </sqtm-app-print-field-value>
    </ng-container>
  </div>
</div>
