<!-- As it must be compact, resizable and usable everywhere, an old good html tables seemed the best way to do this...-->
<table class="full-width" [attr.data-test-attachment-list-id]="attachmentListId">
  <ng-container class="full-width" *ngFor="let attachment of attachments" [ngSwitch]="attachment.kind">
    <ng-container *ngSwitchCase="'persisted-attachment'">
      <tr [attr.data-test-attachment-id]="attachment.id">
        <td class="name txt-ellipsis"><a nz-tooltip [sqtmCoreLabelTooltip]="attachment.name"
                                         [href]="getAttachmentDownloadURL(attachment)">{{attachment.name}}</a></td>
        <td class="size">{{attachment.size | convertFileSize}}</td>
        <td class="added-on txt-ellipsis">
          {{'sqtm-core.generic.date.prefix.added-on' | translate}} {{attachment.addedOn | date : 'short'}}
        </td>
        <td class="delete" *ngIf="showDeleteButton">
          <span class="delete-attachment-icon" *ngIf="canAttach && !attachment.pendingDelete"
                (click)="delete(attachment)">
            <i nz-icon nzType="sqtm-core-generic:delete" nzTheme="outline"></i>
          </span>
        </td>
      </tr>
      <tr class="pending-delete" *ngIf="attachment.pendingDelete">
        <td colspan="4">
          <div class="full-width" style="display: flex; justify-content: flex-end">
            <button nz-button nzType="primary" [nzSize]="'small'" class="sqtm-core-delete-button"
                    (click)="confirm(attachment)">
              {{'sqtm-core.generic.label.delete' | translate }}
            </button>
            <button class="m-l-10 m-r-20" nz-button nzType="default" [nzSize]="'small'" (click)="cancel(attachment)">
              {{'sqtm-core.generic.label.cancel' | translate }}
            </button>
          </div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngSwitchCase="'rejected-attachment'">
      <tr [attr.data-test-attachment-id]="attachment.id">
        <td class="name txt-ellipsis"><span style="color: red">{{attachment.name}}</span></td>
        <td class="size"><span>{{attachment.size | convertFileSize}}</span></td>
        <td class="added-on txt-ellipsis">
          <span>
            <i nz-icon nzType="warning" nzTheme="outline"></i>
          </span>
          <span class="m-l-10">{{'sqtm-core.generic.label.rejected' | translate}}</span>
        </td>
        <td class="delete" (click)="removeRejectedAttachment(attachment)">
          <span class="remove-rejected-warning-icon">
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </span>
        </td>
      </tr>

      <tr class="flex-row" *ngFor="let error of attachment.errors">
        <td colspan="0">
          {{error}}
        </td>
      </tr>
    </ng-container>

    <ng-container *ngSwitchCase="'uploading-attachment'">
      <tr class="row" [attr.data-test-attachment-id]="attachment.id">
        <td class="name"><span style="color: grey">{{attachment.name}}</span></td>
        <td colspan="3">
          <nz-progress class="full-width" [nzPercent]="attachment.uploadProgress"></nz-progress>
        </td>
      </tr>
    </ng-container>
  </ng-container>
</table>
