<div
  *ngIf="printData"
  class="print-container full-height"
  [sqtmCoreWorkspace]="workspace"
  [sqtmCoreWorkspaceTheme]="workspace"
>
  <header>
    {{printData.entityNameKey | translate}} : {{printData.name}}
  </header>
  <div
    *ngFor="let section of printData.sections"
    class="section"
  >
    <span class="section-title">{{section.title | translate | capitalize}}</span>
    <hr/>
    <ng-container
      [ngSwitch]="section.kind">

      <ng-container *ngSwitchCase="SectionKind.information">
        <sqtm-app-information-section
          [section]="section">
        </sqtm-app-information-section>
      </ng-container>

      <ng-container *ngSwitchCase="SectionKind.fields">
        <sqtm-app-fields-section
          [section]="section">
        </sqtm-app-fields-section>
      </ng-container>

      <ng-container *ngSwitchCase="SectionKind.table">
        <sqtm-app-table-section
          [section]="section">
        </sqtm-app-table-section>
      </ng-container>

      <ng-container *ngSwitchCase="SectionKind.testCaseScenario">
        <sqtm-app-test-scenario-section
          [section]="section">
        </sqtm-app-test-scenario-section>
      </ng-container>

      <ng-container *ngSwitchCase="SectionKind.requirementStats">
        <sqtm-app-requirement-stats-section
          [section]="section">
        </sqtm-app-requirement-stats-section>
      </ng-container>

    </ng-container>
  </div>
</div>
