<div class="flex-column full-width full-height">
  <ng-container *ngIf="remoteIssueDialogState.attachMode; else creationForm">
    <iframe [src]="getSelectUrl()" class="full-height"></iframe>
  </ng-container>
</div>

<ng-template #creationForm>
  <iframe [src]="getCreateUrl()" class="full-height"></iframe>
</ng-template>
