<ng-container *ngIf="componentData">
  <div class="test-automation-server-information-grid">

    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.url.label' | translate">
    </sqtm-core-label>
    <div class="url-link">
      <sqtm-core-editable-text-field
        [sqtmCoreGenericViewEditableTextField]="'baseUrl'"
        [attr.data-test-field-id]="'test-automation-server-url'"
        layout="compact"
        class="m-r-5 overflow-hidden">
      </sqtm-core-editable-text-field>

      <a href="{{componentData.testAutomationServer.baseUrl}}"
         target="_blank"
         rel="noopener"
         class="m-l-10">
        <i nz-icon nzType="sqtm-core-administration:external_link" class="icon table-icon-size"></i>
      </a>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.creation.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
      [attr.data-test-field-id]="'info-list-created'"
      [userName]="componentData.testAutomationServer.createdBy"
      [date]="componentData.testAutomationServer.createdOn">
    </sqtm-core-auditable-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.execution-server.kind.label' | translate">
    </sqtm-core-label>
    <span>{{getServerKind(componentData)|translate}}</span>

    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.modification.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
      [attr.data-test-field-id]="'ta-server-modified'"
      [userName]="componentData.testAutomationServer.lastModifiedBy"
      [date]="componentData.testAutomationServer.lastModifiedOn">
    </sqtm-core-auditable-field>
  </div>
  <div class="m-t-10">
    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.description.label' | translate">
    </sqtm-core-label>

    <sqtm-core-editable-rich-text
      [focus]="true"
      [attr.data-test-field-id]="'test-automation-server-description'"
      [sqtmCoreGenericViewEditableRichTextField]="'description'">
    </sqtm-core-editable-rich-text>
  </div>

  <div class="flex-row m-t-10" *ngIf="isManualSlaveSelectionVisible">
    <span nz-checkbox style="margin: auto 5px auto 0;"
      [attr.data-test-field-id]="'manualSlaveSelection'"
      [nzChecked]="componentData.testAutomationServer.manualSlaveSelection"
      (nzCheckedChange)="changeManualSlaveSelection($event)">
    </span>
    <label class="label label__align_right  m-l-5">{{'sqtm-core.administration-workspace.servers.test-automation-servers.manual-selection.label' | translate}}</label>
  </div>
</ng-container>


