<ng-container *ngIf="componentData$|async as componentData">
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-row-gap: 5px;"
     *ngIf="componentData.requirementVersion.requirementStats as stats; else loadingPanel">
  <div class="flex-column" [attr.data-test-component-id]="'total-stats'">
    <sqtm-app-requirement-version-rate
      class="m-b-5"
      [attr.data-test-component-id]="'redaction-rate'"
      [titleKey]="'sqtm-core.requirement-workspace.rate.redaction'"
      [matchingCount]="stats.total.redactedTestCase"
      [total]="stats.total.allTestCaseCount"></sqtm-app-requirement-version-rate>
    <sqtm-app-requirement-version-rate
      class="m-b-5" [attr.data-test-component-id]="'verification-rate'"
      [titleKey]="'sqtm-core.requirement-workspace.rate.verification'"
      [matchingCount]="stats.total.verifiedTestCase"
      [total]="stats.total.plannedTestCase"></sqtm-app-requirement-version-rate>
    <sqtm-app-requirement-version-rate [attr.data-test-component-id]="'validation-rate'"
                                       [titleKey]="'sqtm-core.requirement-workspace.rate.validation'"
                                       [matchingCount]="stats.total.validatedTestCases"
                                       [total]="stats.total.executedTestCase"></sqtm-app-requirement-version-rate>
  </div>

  <ng-container *ngIf="stats.haveChildren">
    <div class="flex-column" [attr.data-test-component-id]="'current-version-stats'">
      <sqtm-app-requirement-version-rate
        class="m-b-5" [attr.data-test-component-id]="'redaction-rate'"
        [titleKey]="isHighLevelRequirementView ? 'sqtm-core.requirement-workspace.rate.high-level-requirement':
                                                 'sqtm-core.requirement-workspace.rate.requirement'"
        [matchingCount]="stats.currentVersion.redactedTestCase"
        [total]="stats.currentVersion.allTestCaseCount"></sqtm-app-requirement-version-rate>
      <sqtm-app-requirement-version-rate
        class="m-b-5" [attr.data-test-component-id]="'verification-rate'"
        [titleKey]="isHighLevelRequirementView ? 'sqtm-core.requirement-workspace.rate.high-level-requirement':
                                                 'sqtm-core.requirement-workspace.rate.requirement'"
        [matchingCount]="stats.currentVersion.verifiedTestCase"
        [total]="stats.currentVersion.plannedTestCase"></sqtm-app-requirement-version-rate>
      <sqtm-app-requirement-version-rate [attr.data-test-component-id]="'validation-rate'"
                                         [titleKey]="isHighLevelRequirementView ? 'sqtm-core.requirement-workspace.rate.high-level-requirement':
                                                 'sqtm-core.requirement-workspace.rate.requirement'"
                                         [matchingCount]="stats.currentVersion.validatedTestCases"
                                         [total]="stats.currentVersion.executedTestCase"></sqtm-app-requirement-version-rate>
    </div>
    <div class="flex-column" [attr.data-test-component-id]="'child-stats'">
      <sqtm-app-requirement-version-rate class="m-b-5" [attr.data-test-component-id]="'redaction-rate'"
                                         [titleKey]="isHighLevelRequirementView ? 'sqtm-core.requirement-workspace.rate.standard-requirement':
                                                 'sqtm-core.requirement-workspace.rate.child'"
                                         [matchingCount]="stats.children.redactedTestCase"
                                         [total]="stats.children.allTestCaseCount"></sqtm-app-requirement-version-rate>
      <sqtm-app-requirement-version-rate class="m-b-5" [attr.data-test-component-id]="'verification-rate'"
                                         [titleKey]="isHighLevelRequirementView ? 'sqtm-core.requirement-workspace.rate.standard-requirement':
                                                 'sqtm-core.requirement-workspace.rate.child'"
                                         [matchingCount]="stats.children.verifiedTestCase"
                                         [total]="stats.children.plannedTestCase"></sqtm-app-requirement-version-rate>
      <sqtm-app-requirement-version-rate [attr.data-test-component-id]="'validation-rate'"
                                         [titleKey]="isHighLevelRequirementView ? 'sqtm-core.requirement-workspace.rate.standard-requirement':
                                                 'sqtm-core.requirement-workspace.rate.child'"
                                         [matchingCount]="stats.children.validatedTestCases"
                                         [total]="stats.children.executedTestCase"></sqtm-app-requirement-version-rate>
    </div>

  </ng-container>

</div>
</ng-container>

<ng-template #loadingPanel>
  <div class="full-width">
    <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
  </div>
</ng-template>
