<nz-radio-group [(ngModel)]="value" (ngModelChange)="confirm()" [nzDisabled]="!editable">
  <label class="field-value-color" *ngFor="let opt of options" nz-radio [nzValue]="opt.value">{{opt.label}}</label>
</nz-radio-group>
