<div [formGroup]="formGroup" class="form-grid" *ngIf="authenticationProtocol && formGroup">
  <ng-container *ngIf="isFormVisible">
    <ng-container *ngIf="! isTokenAuth">
      <sqtm-core-label [text]="loginTranslateKey | translate">
      </sqtm-core-label>
      <sqtm-core-text-field [formGroup]="formGroup" [fieldName]="'username'"
                            [attr.data-test-field-id]="'credentials-username'">
      </sqtm-core-text-field>
    </ng-container>

    <sqtm-core-label [text]="passwordTranslateKey | translate">
    </sqtm-core-label>
    <sqtm-core-text-field [attr.data-test-field-id]="'credentials-password'" [fieldName]="'password'"
                          [formGroup]="formGroup" [placeholder]="passwordPlaceholder"
                          inputType="password"
                          class="password-field">
    </sqtm-core-text-field>
  </ng-container>

  <div class="full-row flex-row">
    <div class="m-auto">
      <button *ngIf="isSubmitButtonVisible"
              class="flex-fixed-size ant-btn ant-btn-primary" nz-button
              [nzLoading]="asyncMode$ | async"
              [disabled]="! formGroup.dirty"
              (click)="handleSubmit()"
              [attr.data-test-component-id]="'save-credentials-button'">
        {{'sqtm-core.generic.label.save' | translate}}
      </button>
      <button *ngIf="isRevokeButtonVisible"
              class="flex-fixed-size ant-btn ant-btn-primary m-l-8" nz-button
              [disabled]="! isRevokeButtonEnabled"
              (click)="handleRevoke()"
              [attr.data-test-component-id]="'revoke-credentials-button'">
        {{'sqtm-core.administration-workspace.servers.label.revoke-tokens' | translate}}
      </button>
    </div>
  </div>
</div>
