<div class="full-width" [formGroup]="formGroup" [attr.data-test-field-name]="fieldName">
  <nz-input-number
    class="full-width"
    [nzStep]="step"
    [formControlName]="fieldName"
    [nzPrecision]="precision"
  >
  </nz-input-number>
  <div class="has-error" *ngFor="let error of errors">
    <span [attr.data-test-error-key]="error.provideI18nKey()" class="sqtm-core-error-message">{{error.provideI18nKey()| translate}}</span>
  </div>
</div>
