<div class="section" *ngIf="section">
  <ng-container *ngIf="isStandardScenario || isKeywordScenario">
    <ng-container *ngIf="section.prerequisite">
      <h3>{{'sqtm-core.entity.test-case.prerequisites.label' | translate}}</h3>
      <span [innerHTML]="section.prerequisite|safeRichContent"></span>
    </ng-container>

    <ng-container *ngIf="isStandardScenario">
      <h3>{{'sqtm-core.entity.test-step.label.plural' | translate}}</h3>
    </ng-container>

    <table class="full-width">
      <tr>
        <th *ngFor="let header of headers">{{header | translate}}</th>
      </tr>
      <tr *ngFor="let row of rows; let index = index">
        <ng-container *ngIf="row.kind === 'action'; else callRow">
          <td *ngFor="let cell of row.cells">
            <span
              *ngIf="cell.renderAsHtml else simpleText"
              [innerHTML]="cell.content|safeRichContent">
            </span>
            <ng-container *ngIf="cell.datatable">
              <h4>{{'sqtm-core.entity.test-step.datatable.label'|translate}}</h4>
              <span [innerHTML]="cell.datatable" class="pre-wrap"></span>
            </ng-container>
            <ng-container *ngIf="cell.docstring">
              <h4>{{'sqtm-core.entity.test-step.docstring.label'|translate}}</h4>
              <span [innerHTML]="cell.docstring" class="pre-wrap"></span>
            </ng-container>
            <ng-container *ngIf="cell.comment">
              <h4>{{'sqtm-core.entity.test-step.comment.label'|translate}}</h4>
              <span [innerHTML]="cell.comment" class="pre-wrap"></span>
            </ng-container>
            <ng-template #simpleText>
              <span class="pre-wrap">{{cell.content |translate}}</span>
            </ng-template>
          </td>
        </ng-container>

        <ng-template #callRow>
          <td>{{index + 1}}</td>
          <td [colSpan]="columnCount - 1">
            <span>{{'sqtm-core.entity.call-step.label'|translate}} "{{row.calledTestCase}}"</span>
            <span *ngIf="row.calledDataset">
              {{'sqtm-core.entity.call-step.dataset.using-dataset'|translate}} "{{row.calledDataset}}"
            </span>

            <div class="nested-table-wrapper">
              <table class="nested-table">
                <tr>
                  <th>#</th>
                  <th>{{'sqtm-core.entity.test-step.action.singular' | translate}}</th>
                  <th>{{'sqtm-core.entity.test-step.expected-result.label' | translate}}</th>
                </tr>
                <tr *ngFor="let calledStep of row.calledTestSteps; let idx = index">
                  <td>{{idx + 1}}</td>
                  <ng-container *ngIf="calledStep.kind === 'action'; else nestedCall">
                    <td>
                      <span [innerHTML]="calledStep.action|safeRichContent"></span>
                    </td>
                    <td>
                      <span [innerHTML]="calledStep.expectedResult|safeRichContent"></span>
                    </td>
                  </ng-container>
                  <ng-template #nestedCall>
                    <td [colSpan]="2">
                      Appel de {{calledStep.calledTestCaseName}}
                    </td>
                  </ng-template>
                </tr>
              </table>
            </div>
          </td>
        </ng-template>
      </tr>
    </table>
  </ng-container>

  <ng-container *ngIf="isScriptedScenario">
    <pre><code class="script">{{script}}</code></pre>
  </ng-container>
</div>
