<div #rowElement
     [sqtmCoreDraggableListItem]="gridNode.id"
     [enableDrag]="isDraggable(gridDisplay, gridNode)"
     [dndTargetType]="getDndType(gridNode)"
     class="grid-row"
     [class.drag-and-drop-container]="gridNode.showAsDndTarget"
>
  <ng-template sqtmCoreDynamicComponent></ng-template>
</div>
