<div class="full-width" [formGroup]="formGroup" [attr.data-test-field-name]="fieldName">
  <ckeditor
    (ready)="handleCKEditorReady($event)"
    [formControlName]="fieldName"
    [config]="ckConfig"
    [type]="ckEditorType"
    [editorUrl]="'assets/sqtm-core/js/ckeditor/ckeditor.js'"
    sqtmCoreKeyupStopPropagation>
  </ckeditor>
  <div class="has-error" *ngFor="let error of errors">
    <span [attr.data-test-error-key]="error.provideI18nKey()" class="sqtm-core-error-message">{{error.provideI18nKey()| translate}}</span>
  </div>
</div>
