<nz-input-group [nzSuffix]="suffixIconSearch">
  <input #textInput type="text" nz-input [(ngModel)]="researchValue"
         [attr.data-test-component-id]="'input-filter'"/>
</nz-input-group>

<ng-template #suffixIconSearch
>
  <i nz-icon nzType="sqtm-core-tree:search" *ngIf="!researchValue"></i>
  <i
    nz-icon
    class="ant-input-textarea-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="researchValue"
    (click)="resetValue()"
  ></i
  ></ng-template>
