<ng-container *ngIf="row && columnDisplay && isEditable()">
  <div class="flex full-width full-height" style="cursor: pointer" (click)="openScriptDialog()">
    <span class="sqtm-grid-cell-txt-renderer m-auto"
          [sqtmCoreLabelTooltip]="row.data[columnDisplay.id]"
          nz-tooltip [nzTooltipTitle]="" [nzTooltipPlacement]="'topLeft'"
          *ngIf="row.data[columnDisplay.id] && row.data[columnDisplay.id] !== ''; else editIcon">{{row.data[columnDisplay.id]}}</span>
    <ng-template #editIcon>
      <i nz-icon nzType="sqtm-core-generic:edit" class="grid-icon m-auto"></i>
    </ng-template>
  </div>
</ng-container>

<ng-container *ngIf="row && columnDisplay">
  <div class="flex full-width full-height"
       [nz-tooltip]="'sqtm-core.automation-workspace.grid.tooltip.squash-tf.missing-server' | translate"
       [nzTooltipPlacement]="'topLeft'">
    <span class="sqtm-grid-cell-txt-renderer m-auto">-</span>
  </div>
</ng-container>
