<div class="m-l-10 entity-information-grid">
  <label class="txt-ellipsis">{{ 'sqtm-core.entity.generic.status.label' | translate}}</label>
  <sqtm-app-denormalized-status [status]="executionPageComponentData.execution.tcStatus"></sqtm-app-denormalized-status>
  <label class="txt-ellipsis">{{ 'sqtm-core.entity.test-case.nature.label' | translate}}</label>
  <div>
    <i nz-icon [nzType]="getInfoListIcon(executionPageComponentData.execution.tcNatIconName)" nzTheme="fill"
       class="sqtm-core-infolist-icon table-icon-size">
    </i>
    <span [attr.data-test-component-id]="'execution-nature'">
        {{getDenormalizedNatureLabel(executionPageComponentData.execution.tcNatLabel) | translate}}
      </span>
  </div>
  <label class="txt-ellipsis">{{ 'sqtm-core.entity.test-case.importance.label' | translate}}</label>
  <sqtm-app-denormalized-importance
    [importanceKey]="executionPageComponentData.execution.tcImportance"></sqtm-app-denormalized-importance>
  <label class="txt-ellipsis">{{ 'sqtm-core.entity.test-case.type.label' | translate}}</label>
  <div>
    <i nz-icon [nzType]="getInfoListIcon(executionPageComponentData.execution.tcTypeIconName)" nzTheme="fill"
       class="sqtm-core-infolist-icon table-icon-size">
    </i>
    <span [attr.data-test-component-id]="'execution-type'">
        {{getDenormalizedTypeLabel(executionPageComponentData.execution.tcTypeLabel) | translate}}
      </span>
  </div>
</div>
<div class="m-l-10 m-t-10 entity-information-grid-one-column">
  <ng-container *ngIf="executionPageComponentData.execution.datasetLabel">
    <label class="txt-ellipsis">{{ 'sqtm-core.entity.dataset.label.singular' | translate}}</label>
    <span [attr.data-test-component-id]="'execution-dataset'">{{executionPageComponentData.execution.datasetLabel}}</span>
  </ng-container>
  <ng-container *ngFor="let dfv of executionPageComponentData.execution.denormalizedCustomFieldValues; let index = index;">
    <div class="flex-row overflow-hidden">
      <label nz-tooltip [nzTooltipTitle]="'sqtm-core.campaign-workspace.execution-page.dnz-cuf.test-case.tooltip' | translate"
                   [attr.data-test-component-id]="'execution-dnz-label-' + index"
                   class="txt-ellipsis">{{dfv.label}}
      </label>
      <label class="m-l-3">*</label>
    </div>
    <sqtm-app-denormalized-custom-field [denormalizedFieldValue]="dfv"
                                        [attr.data-test-component-id]="'execution-dnz-value-' + index">
    </sqtm-app-denormalized-custom-field>
  </ng-container>
  <ng-container *ngFor="let cfd of customFieldData; trackBy: trackCfd">
    <label class="txt-ellipsis">{{cfd.label}}</label>
    <div>
      <sqtm-core-custom-field-widget
        [sqtmCoreEntityCustomField]="cfd"
        [attr.data-test-customfield-id]="cfd.name"
      ></sqtm-core-custom-field-widget>
    </div>
  </ng-container>
  <label class="txt-ellipsis">{{ 'sqtm-core.entity.generic.description.label' | translate}}</label>
  <div [attr.data-test-component-id]="'execution-tc-description'"
       [innerHTML]="executionPageComponentData.execution.tcDescription"></div>
</div>
