<ng-container *ngIf="columnDisplay && row">
  <div class="full-width full-height interactive-container"
       style="display: flex"
       [class.__hover_pointer]="canEdit$ | async"
       (click)="showAvailableUsersList()">
    <span #availableUsers
          class="text-ellipsis"
          style="margin: auto 0;"
          nz-tooltip
          [sqtmCoreLabelTooltip]="assignedUser">
          {{assignedUser}}
    </span>
    <ng-template #templatePortalContent>
      <ng-container *ngIf="!scrollbar; else Scrollbar">
        <sqtm-core-list-panel
          [selectedItem]="row.data[columnDisplay.id] || 0"
          (itemSelectionChanged)="change($event)"
          [items]="panelItems">
        </sqtm-core-list-panel>
      </ng-container>
      <ng-template #Scrollbar>
        <cdk-virtual-scroll-viewport [itemSize]="rowHeight" [style.min-height]="minAvailableItemsHeight + 'px'"
                                     class="full-height full-width cdk-virtual-scroll-max-with-override">
          <sqtm-core-list-panel
            [selectedItem]="row.data[columnDisplay.id]"
            (itemSelectionChanged)="change($event)"
            [items]="panelItems">
          </sqtm-core-list-panel>
        </cdk-virtual-scroll-viewport>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
