<div class="section" *ngIf="section">
  <div class="fields">
    <ng-container *ngFor="let field of section.fields">
      <label>{{field.name | translate}}</label>
      <sqtm-app-print-field-value
        [field]="field">
      </sqtm-app-print-field-value>
    </ng-container>
  </div>
  <div class="custom-fields m-t-10">
    <ng-container *ngFor="let field of section.customFields">
      <label>{{field.name | translate}}</label>
      <sqtm-app-print-field-value
        [field]="field">
      </sqtm-app-print-field-value>
    </ng-container>
  </div>
  <div class="m-t-10">
    <label>{{'sqtm-core.entity.generic.description.label' | translate}}</label>
    <span [innerHTML]="section.description | safeRichContent">
    </span>
  </div>
</div>
