<ng-container *ngIf="(componentData$ | async) as componentData">

  <span
    class="block-title">{{'sqtm-core.administration-workspace.views.project.automation.bdd-tc.label' | translate}}</span>
  <div class="padded-block"
       [attr.data-test-component-id]="'bdd-tc-block'">
    <div class="two-cols" *ngIf="componentData.project">
      <sqtm-core-label
        [text]="'sqtm-core.administration-workspace.views.project.automation.technology.label' | translate">
      </sqtm-core-label>

      <sqtm-core-editable-select-level-enum-field #bddTechnologySelectField
                                                  class="full-width"
                                                  [attr.data-test-field-id]="'bdd-implementation-technology'"
                                                  [layout]="'compact'"
                                                  [enumType]="'BddImplementationTechnology'"
                                                  (confirmEvent)="changeBddImplementationTechnology(componentData.project.id, $event)"
                                                  [selectedEnumItem]="componentData.project.bddImplementationTechnology">
      </sqtm-core-editable-select-level-enum-field>

      <sqtm-core-label
        [text]="'sqtm-core.administration-workspace.views.project.scripts-language.label' | translate">
      </sqtm-core-label>

      <sqtm-core-editable-select-level-enum-field
        class="full-width"
        [attr.data-test-field-id]="'bdd-script-language'"
        [layout]="'compact'"
        [enumType]="'BddScriptLanguage'"
        [editable]="canEditScriptLanguage(componentData)"
        [sqtmCoreGenericViewEditableSelectLevelEnum]="'bddScriptLanguage'">
      </sqtm-core-editable-select-level-enum-field>
    </div>
  </div>

  <div class="two-cols" *ngIf="componentData.project">
    <sqtm-core-label
      [text]="'sqtm-core.administration-workspace.views.project.automation.workflow.label' | translate">
    </sqtm-core-label>

    <sqtm-core-editable-select-field #automationWorkflowField
                                     [attr.data-test-field-id]="'automation-workflow'"
                                     [options]="workflowOptions"
                                     [value]="componentData.project.automationWorkflowType"
                                     (confirmEvent)="handleAutomationWorkflowTypeChange($event.value, componentData)"
                                     layout="compact">
    </sqtm-core-editable-select-field>


    <sqtm-core-label
      [text]="'sqtm-core.administration-workspace.views.project.automation.automated-suites-lifetime.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-text-field #automatedSuitesLifetimeField
                                   [attr.data-test-field-id]="'automated-suites-lifetime'"
                                   [value]="getAutomatedSuiteLifetimeValue(componentData)"
                                   (confirmEvent)="handleAutomatedSuitesLifetimeChange($event, componentData)"
                                   sqtmCoreKeyupStopPropagation
                                   layout="compact">
    </sqtm-core-editable-text-field>
  </div>

  <ng-container *ngIf="showsScmBlock(componentData)">
    <span class="block-title">{{'sqtm-core.entity.scm-server.label' | translate}}</span>
    <div class="padded-block"
         [attr.data-test-component-id]="'scm-block'">
      <div class="two-cols">
        <sqtm-core-label
          [text]="'sqtm-core.administration-workspace.views.project.automation.workflow.scm-server.use-tree-structure' | translate">
        </sqtm-core-label>
        <sqtm-core-switch-field
          [sqtmCoreGenericViewSwitchField]="'useTreeStructureInScmRepo'"
          [attr.data-test-field-id]="'use-tree-structure'">
        </sqtm-core-switch-field>

        <sqtm-core-label
          [text]="'sqtm-core.administration-workspace.views.project.automation.workflow.scm-server.server' | translate">
        </sqtm-core-label>
        <sqtm-core-editable-select-field #serverSelectField
                                         [attr.data-test-field-id]="'automation-scm-server'"
                                         [options]="scmServerOptions"
                                         allowEmptyValue="true"
                                         [placeHolder]="'sqtm-core.administration-workspace.views.project.automation.no-server' | translate"
                                         layout="compact"
                                         (confirmEvent)="handleScmServerConfirm($event)">
        </sqtm-core-editable-select-field>

        <ng-container *ngIf="showsScmRepositoryField() && repositoryOptions != null">
          <sqtm-core-label
            [text]="'sqtm-core.administration-workspace.views.project.automation.workflow.scm-server.repository' | translate">
          </sqtm-core-label>
          <sqtm-core-editable-select-field #repositorySelectField
                                           [attr.data-test-field-id]="'automation-scm-repository'"
                                           [options]="repositoryOptions"
                                           allowEmptyValue="true"
                                           [placeHolder]="'sqtm-core.administration-workspace.views.project.automation.scm-server.no-repository' | translate"
                                           layout="compact"
                                           (confirmEvent)="handleScmRepositoryConfirm($event)">
          </sqtm-core-editable-select-field>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showsExecutionServerBlock(componentData)">
    <span class="block-title">{{'sqtm-core.entity.execution-server.label.singular' | translate}}</span>
    <div class="padded-block">
      <sqtm-core-editable-select-field #executionServerField
                                       [attr.data-test-field-id]="'automation-execution-server'"
                                       [allowEmptyValue]="true"
                                       [options]="executionServerOptions"
                                       (confirmEvent)="handleExecutionServerChange($event, componentData)"
                                       [placeHolder]="'sqtm-core.administration-workspace.views.project.automation.no-server' | translate"
                                       layout="compact">
      </sqtm-core-editable-select-field>
    </div>
  </ng-container>

  <ng-container *ngIf="showsJobsBlock(componentData)">
    <div class="block-title flex-row">
      <span>{{'sqtm-core.administration-workspace.views.project.automation.jobs.label' | translate}}</span>
        <div *ngIf="(isAdmin$ | async)"
             (click)="addJob()"
             class="block-title-button m-l-8"
             [attr.data-test-button-id]="'add-job'">
          <i nz-icon nzType="sqtm-core-generic:plus" nzTheme="outline"
             class="current-workspace-button table-icon-size"></i>
        </div>
        <div *ngIf="!(isAdmin$|async)"
             (click)="connectToAddJob(componentData)"
             class="block-title-button m-l-8"
             [attr.data-test-button-id]="'add-job'">
          <i nz-icon nzType="sqtm-core-generic:plus" nzTheme="outline"
             class="current-workspace-button table-icon-size"></i>
        </div>
    </div>
    <div class="padded-block"
         [attr.data-test-component-id]="'ta-jobs-block'">
      <sqtm-core-grid></sqtm-core-grid>
    </div>
  </ng-container>
</ng-container>
