<ng-container *ngIf="infoListItem$ | async as infoListItem">
  <i nz-icon [nzType]="getIcon(infoListItem)" nzTheme="outline"></i>
  <span class="m-l-5">{{getLabel(infoListItem)}}</span>
</ng-container>
