<div class="full-width flex-fixed-size step-list-element-wrapper"
     [attr.data-test-component-id]="'test-step'"
     [attr.data-test-test-step-id]="step.id"
     [sqtmCoreDraggableListItem]="step.id">
  <div #dropFileZone class="flex-row full-width step-list-element neutral-border"
       [class.border-selected]="step.selected && !step.draggingStep"
       [class.disabled]="disableControls(step, stepCreationMode)"
       [class.placeholder]="showPlaceHolder(step)"
       [class.collapsed]="!step.extended"
       [class.read-only]="!editable"
       [class.requirement-is-over]="showRequirementIsOver(step)"
       sqtmCoreAttachmentDropZone
       (filesDropEvent)="addAttachment($event, step)"
       (filesDragEnterEvent)="handleAttachmentEnter()"
       (filesDragLeaveEvent)="handleAttachmentLeave()"
  >
    <div class="dnd-handler-wrapper flex-fixed-size">
      <div class="dnd-handler" sqtmCoreDraggableItemHandler></div>
    </div>
    <div class="flex-column index-column flex-fixed-size">
      <div *ngIf="editable" class="arrow arrow-sup m-t-5" (click)="moveStepUp(step)">
        <i nz-icon nzType="double-right" nzTheme="outline"></i></div>
      <div class="index-typography" [class.selected]="step.selected && !step.draggingStep"
           (click)="selectStep($event,step.id)">{{step.stepOrder + 1}}</div>
      <div *ngIf="editable" class="arrow arrow-down m-b-5" (click)="moveStepDown(step)">
        <i nz-icon nzType="double-right" nzTheme="outline"></i>
      </div>
    </div>
    <div class="full-width step-order-content m-l-10 m-b-10 overflow-hidden">
      <sqtm-app-action-step *ngIf="showAsActionStep(step)" [actionStep]="step" [customFields]="customFields"
                            [initialFraction]="initialFraction" [editable]="editable" [linkable]="linkable"
                            (resizeActionStepColumn)="forwardFractionChangeToList($event)">
      </sqtm-app-action-step>

      <sqtm-app-call-step *ngIf="showAsCallStep(step)" [callTestStep]="step" [editable]="editable">
      </sqtm-app-call-step>

      <sqtm-app-create-step-form *ngIf="step.kind==='create-action-step-form'" [step]="step"
                                 [customFields]="customFields" [initialFraction]="initialFraction"
                                 (resizeActionStepColumn)="forwardFractionChangeToList($event)"
                                 [stepCount]="stepCount"
      >
      </sqtm-app-create-step-form>

      <div class="flex-fixed-size" *ngIf="showPlaceHolder(step)"></div>
    </div>
  </div>
</div>
