<div class="flex-row full-height full-width overflow-hidden neutral-background-color"
     [sqtmCoreWorkspace]="workspaceName">
  <sqtm-core-nav-bar class="full-height flex-fixed-size"></sqtm-core-nav-bar>
  <div class="full-height full-width overflow-hidden flex-column p-10" *ngIf="gridService.uiState$ | async as uiState">
    <div class="sqtm-core-screen-title title-bar flex-row flex-fixed-size">
      <sqtm-core-back-button
          *ngIf="hasBackUrlParam()"
          class="m-t-6"
          [class.m-r-15]="! uiState.showFilterManager"
          (buttonPressed)="navigateBack()">
      </sqtm-core-back-button>
      <div class="flex-fixed-size" style="width: 350px">
        <span [attr.data-test-component-id]="'unfold-filter-panel-button'" class="current-workspace-main-color font-16-px __hover_pointer"
              nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.collapse'|translate"
              *ngIf="!uiState.showFilterManager"
              (click)="toggleFilterPanel()">
          <i nz-icon nzType="sqtm-core-generic:show" nzTheme="outline"></i>
        </span>
        <span class="m-l-10">
          {{titleKey|translate}}
        </span>
      </div>
      <div *ngIf="uiState.showFilterManager">
        <span [attr.data-test-component-id]="'fold-filter-panel-button'" class="current-workspace-main-color font-16-px __hover_pointer"
          nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.expand'|translate"
              (click)="toggleFilterPanel()">
          <i nz-icon nzType="sqtm-core-generic:hide" nzTheme="outline"></i>
        </span>
        <span class="m-l-10">
          {{resultTitleKey|translate}}
        </span>
      </div>
    </div>
    <div class="flex-fixed-size flex-row m-b-10">
      <!--  Content projection slot used for button bar -->
      <ng-content></ng-content>
    </div>
    <div class="full-height full-width overflow-hidden container-background-color p-10 container-border">
      <sqtm-core-grid></sqtm-core-grid>
    </div>
  </div>
</div>
