<ng-container *ngIf="componentData$ | async as componentData">

  <div class="history-title">
    {{'sqtm-core.campaign-workspace.test-plan.launch-execution.history' | translate}}
  </div>
  <div class="full-height full-width flex-column">
    <div class="flex-row full-width">
      <div class="view-title">
      </div>

      <div class="flex-fixed-size font-20-px m-r-15">
        <sqtm-core-toggle-icon [active]="canDelete$ | async"
                               (clickedInActiveMode)="showMassDeleteExecutionDialog()"
                               [attr.data-test-button-id]="'mass-delete-button'">
          <i nz-icon nzType="sqtm-core-generic:delete" nzTheme="outline"
             nz-tooltip class="action-icon-size panel-buttons"
             [nzTooltipTitle]="'sqtm-core.campaign-workspace.test-plan-execution.execution-history.delete'|translate"
             nzTooltipPlacement="bottom"></i>
        </sqtm-core-toggle-icon>
      </div>
    </div>
    <div class="full-height p-b-15 m-r-15">
      <div class="history-container full-width full-height p-15">
        <sqtm-core-grid class="full-width full-height"></sqtm-core-grid>
      </div>
    </div>
  </div>

</ng-container>




