.history-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--current-workspace-main-color);
}
.history-container {
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
}


.view-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--current-workspace-main-color);
  margin: 0 10px 10px;
  flex-grow: 1;
}



