.campaign-statistics-progression-label {
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding-bottom: 20px;
}

.campaign-statistics-header {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--label-color);
  border-bottom: var(--container-border-color) solid 2px;
  text-align: center;
}

.campaign-statistics-row {
  text-align: center;
  padding-top: 10px;
  border-bottom: var(--container-border-color) solid 1px;
}

.campaign-statistics-ratio {
  font-weight: 600;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
