<sqtm-core-entity-view-wrapper [sqtmCoreViewId]="'requirement-version-view'">
  <ng-container *ngIf="componentData$ | async as componentData">
    <ng-container *ngIf="referentialData$ | async as referentialData; else loading">
      <div class="flex full-height full-width neutral-background-color">
        <div class="flex-column full-width">
          <sqtm-core-entity-view-header
            class="full-width content-head p-t-10 p-r-20"
            [nameEditable]="isNameEditable(componentData)"
            [attachmentCount]="getAttachmentCount(componentData.requirementVersion.attachmentList.attachments)"
            (attachmentBadgeClickEvent)="toggleAttachmentPanel()">
            <div projection='actions' class="flex-column full-height" style="width: 40px">
              <ng-content></ng-content>
            </div>

            <div projection='reference' class="reference">
              <sqtm-core-editable-text-field
                [attr.data-test-field-id]="'entity-reference'"
                [sqtmCoreEntityViewEditableTextField]="'reference'" ngDefaultControl
                [layout]="'compact'"
                [editable]="allowRequirementModification(componentData.requirementVersion.status)"
                placeholder="{{'sqtm-core.requirement-workspace.reference.placeholder' | translate}}"
                [trimValue]="true">
              </sqtm-core-editable-text-field>
            </div>
            <div projection='notifications' class="m-r-40" [attr.data-test-component-id]="'notifications'">
              <div *ngIf="!componentData.milestonesAllowModification"
                   [attr.data-test-component-id]="'milestone-locked-warning'"
                   nz-tooltip [nzTooltipTitle]="lockedMilestoneMessage" [nzTooltipPlacement]="'bottom'"
                   class="font-20-px sqtm-core-error-message">
                <i nz-icon nzType="sqtm-core-nav:milestone" nzTheme="outline"></i>
              </div>
            </div>
            <div projection='menu' [attr.data-test-toolbar-button-id]="'action-menu-button'">
              <span class="font-20-px" nz-dropdown [nzDropdownMenu]="actionMenu" [nzPlacement]="'bottomCenter'">
                <i nz-icon nzType="sqtm-core-generic:more" nzTheme="outline" class="current-workspace-button"></i>
              </span>
            </div>

            <div projection='capsule' class="sqtm-core-capsules-container">
              <sqtm-core-capsule-information
                [informationData]="getRequirementStatusInformationData(componentData.requirementVersion.status)">
              </sqtm-core-capsule-information>
              <sqtm-core-capsule-information
                [informationData]="getRequirementCriticalityInformationData(componentData.requirementVersion.criticality)">
              </sqtm-core-capsule-information>

              <ng-container *ngIf="this.referentialDataService.milestoneModeData$|async as milestoneState">
                <sqtm-core-capsule-information
                  *ngIf="isSynchronized(componentData) || !allowNavigationToVersion(milestoneState); else versionLink"
                  [informationData]="getRequirementVersionNumberInformationData(componentData.requirementVersion.versionNumber)">
                </sqtm-core-capsule-information>
              </ng-container>

              <ng-template #versionLink>
                <a style="text-decoration: none"
                   [routerLink]="['/','requirement-workspace','requirement', componentData.requirementVersion.requirementId, 'version']">
                  <sqtm-core-capsule-information
                    [informationData]="getRequirementVersionNumberInformationData(componentData.requirementVersion.versionNumber)">
                  </sqtm-core-capsule-information>
                </a>
              </ng-template>
            </div>
          </sqtm-core-entity-view-header>

          <div class="flex-row full-height full-width">
            <div class="flex-fixed-size side-bar">
              <div class="anchor-bar">
                <sqtm-core-anchor>
                  <sqtm-core-anchor-group [id]="'content'">
                    <sqtm-core-anchor-link
                      nz-tooltip nzTooltipPlacement="right"
                      sqtmCoreDefaultAnchorLink
                      [id]="'information'"
                      [nzTooltipTitle]="'sqtm-core.test-case-workspace.title.information' | translate"
                      [linkHref]="'content'"
                      [iconName]="'sqtm-core-requirement:information'">
                    </sqtm-core-anchor-link>
                    <sqtm-core-anchor-link
                      nz-tooltip nzTooltipPlacement="right"
                      [id]="'rate'"
                      [nzTooltipTitle]="'sqtm-core.requirement-workspace.title.rate' | translate"
                      [linkHref]="'content'"
                      [iconName]="'sqtm-core-requirement:coverage_indicators'">
                    </sqtm-core-anchor-link>
                    <sqtm-core-anchor-link
                      *ngIf="componentData.requirementVersion.highLevelRequirement"
                      nz-tooltip nzTooltipPlacement="right"
                      [id]="'linked-low-level-requirements'"
                      [nzTooltipTitle]="'sqtm-core.requirement-workspace.title.low-level-requirement-version-link' | translate"
                      [linkHref]="'content'"
                      [iconName]="'sqtm-core-requirement:linked_low_level_requirements'">
                      <ng-container
                        *ngIf="requirementViewService.linkedLowLevelRequirementCount$ | async as linkedLowLevelRequirementCount">
                        <div *ngIf="linkedLowLevelRequirementCount > 0" class="anchor-counter">
                          <span>{{linkedLowLevelRequirementCount}}</span>
                        </div>
                      </ng-container>
                    </sqtm-core-anchor-link>
                    <sqtm-core-anchor-link
                      nz-tooltip nzTooltipPlacement="right"
                      [id]="'linked-test-case'"
                      [nzTooltipTitle]="'sqtm-core.requirement-workspace.title.linked-test-case' | translate"
                      [linkHref]="'content'"
                      [iconName]="'sqtm-core-requirement:linked_test_cases'">
                      <ng-container
                        *ngIf="requirementViewService.verifyingTestCaseCount$ | async as verifyingTestCaseCount">
                        <div *ngIf="verifyingTestCaseCount > 0" class="anchor-counter">
                          <span>{{verifyingTestCaseCount}}</span>
                        </div>
                      </ng-container>
                    </sqtm-core-anchor-link>
                    <sqtm-core-anchor-link
                      nz-tooltip nzTooltipPlacement="right"
                      [id]="'requirement-version-links'"
                      [nzTooltipTitle]="'sqtm-core.requirement-workspace.title.requirement-version-link' | translate"
                      [linkHref]="'content'"
                      [iconName]="'sqtm-core-requirement:requirements_link'">
                      <ng-container
                        *ngIf="requirementViewService.requirementVersionLinkCount$ | async as requirementVersionLinkCount">
                        <div *ngIf="requirementVersionLinkCount > 0" class="anchor-counter">
                          <span>{{requirementVersionLinkCount}}</span>
                        </div>
                      </ng-container>
                    </sqtm-core-anchor-link>
                  </sqtm-core-anchor-group>

                  <sqtm-core-anchor-group [id]="'history'">
                    <sqtm-core-anchor-link
                      nz-tooltip nzTooltipPlacement="right"
                      [id]="'history'"
                      [nzTooltipTitle]="'sqtm-core.requirement-workspace.title.modification-history' | translate"
                      [linkHref]="'history'"
                      [iconName]="'sqtm-core-requirement:history'">
                    </sqtm-core-anchor-link>
                  </sqtm-core-anchor-group>

                  <sqtm-core-anchor-group *ngIf="componentData.projectData.bugTracker" [id]="'issues'">
                    <sqtm-core-anchor-link
                      class="relative-position"
                      nz-tooltip nzTooltipPlacement="right"
                      [id]="'issues'"
                      [nzTooltipTitle]="'sqtm-core.requirement-workspace.title.issues' | translate"
                      [linkHref]="'issues'"
                      [iconName]="'sqtm-core-generic:issues'">
                      <ng-container *ngIf="componentData.requirementVersion.nbIssues != null; else loadingIcon">
                        <div *ngIf="componentData.requirementVersion.nbIssues > 0" class="anchor-counter">
                          <span>{{componentData.requirementVersion.nbIssues}}</span>
                        </div>
                      </ng-container>
                    </sqtm-core-anchor-link>
                  </sqtm-core-anchor-group>
                </sqtm-core-anchor>
              </div>
            </div>
            <div #content class="content-body full-height full-width">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>

      </div>
      <sqtm-core-attachment-drawer
        [canAttach]="canAttach(componentData)">
      </sqtm-core-attachment-drawer>
      <sqtm-core-drawer *ngIf="componentData.requirementVersion.uiState.openTestCaseTreePicker"
                        [localTheme]="testCaseWorkspace"
                        [isVisible]="componentData.requirementVersion.uiState.openTestCaseTreePicker"
                        [titleKey]="'sqtm-core.tree-picker.test-case.title'"
                        (close)="closeTestCasePicker()">
        <i projection="icons" nz-icon nzType="sqtm-core-test-case:help" nzTheme="fill"
           class="m-l-10 font-20-px current-workspace-main-color"
           nz-tooltip [nzTooltipTitle]="'sqtm-core.tree-picker.test-case.requirement' | translate"></i>
        <sqtm-core-test-case-picker [pickerPersistenceKey]="'bind-test-case-to-requirement'"
                                    *ngIf="componentData.requirementVersion.uiState.openTestCaseTreePicker">
        </sqtm-core-test-case-picker>
      </sqtm-core-drawer>
      <sqtm-core-drawer *ngIf="componentData.requirementVersion.uiState.openHighLevelRequirementChildrenTreePicker"
                        [localTheme]="requirementWorkspace"
                        [isVisible]="componentData.requirementVersion.uiState.openHighLevelRequirementChildrenTreePicker"
                        [titleKey]="'sqtm-core.tree-picker.requirement.title'"
                        (close)="closeHighLevelRequirementChildrenPicker()">
        <i projection="icons" nz-icon nzType="sqtm-core-test-case:help" nzTheme="fill"
           class="m-l-10 font-20-px current-workspace-main-color"
           nz-tooltip [nzTooltipTitle]="'sqtm-core.tree-picker.high-level-requirement.requirement-links' | translate"></i>
        <sqtm-core-high-level-requirement-children-picker
          [pickerPersistenceKey]="'bind-requirement-to-high-level-requirement'"
          *ngIf="componentData.requirementVersion.uiState.openHighLevelRequirementChildrenTreePicker">
        </sqtm-core-high-level-requirement-children-picker>
      </sqtm-core-drawer>
      <sqtm-core-drawer *ngIf="componentData.requirementVersion.uiState.openRequirementTreePicker"
                        [localTheme]="requirementWorkspace"
                        [isVisible]="componentData.requirementVersion.uiState.openRequirementTreePicker"
                        [titleKey]="'sqtm-core.tree-picker.requirement.title'"
                        (close)="closeRequirementPicker()">
        <i projection="icons" nz-icon nzType="sqtm-core-test-case:help" nzTheme="fill"
           class="m-l-10 font-20-px current-workspace-main-color"
           nz-tooltip [nzTooltipTitle]="'sqtm-core.tree-picker.requirement.requirement-links' | translate"></i>
        <sqtm-core-requirement-picker [pickerPersistenceKey]="'bind-requirement-to-requirement'"
                                      *ngIf="componentData.requirementVersion.uiState.openRequirementTreePicker">
        </sqtm-core-requirement-picker>
      </sqtm-core-drawer>
      <nz-dropdown-menu #actionMenu="nzDropdownMenu">
        <ul nz-menu [attr.data-test-menu-id]="'action-menu'">
          <li (click)="createNewRequirementVersion(componentData)"
              [attr.data-test-menu-item-id]="'create-new-requirement-version'"
              [nzDisabled]="! canCreateNewVersion(componentData)"
              nz-menu-item>
            {{ 'sqtm-core.generic.label.add-new-version' | translate }}
          </li>

          <li nz-menu-item
              *ngIf="isConvertToHighLevelVisible(componentData, referentialData)"
              [attr.data-test-menu-item-id]="'convert-to-high-level-requirement'"
              [nzDisabled]="! canConvertToHighLevel(componentData)"
              (click)="convertToHighLevelRequirement(componentData)">
            {{ 'sqtm-core.requirement-workspace.convert-to-high-level-requirement' | translate }}
          </li>
          <li nz-menu-item
            *ngIf="componentData$ | async as componentData"
            [attr.data-test-menu-item-id]="'open-in-print-mode'"
            (click)="openInPrintMode(componentData)">
            {{'sqtm-core.generic.label.print' | translate}}
          </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
  </ng-container>
</sqtm-core-entity-view-wrapper>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>

<ng-template #loadingIcon>
  <sqtm-core-full-page-loading-icon class="loading-icon"></sqtm-core-full-page-loading-icon>
</ng-template>

<ng-template #lockedMilestoneMessage>
  {{'sqtm-core.entity.generic.milestone.locked'|translate}}
</ng-template>
