.content-body {
  overflow-y: hidden;
  border: solid 1px var(--background-color);
  height: 100%;
  padding-left: 18px;
}

.content-head {
  margin-bottom: 28px;

  .reference {
    font-size: 16px;
    font-weight: 600;
  }
}

.drop-test-case {
  border: solid 1px var(--current-workspace-main-color);
}

.relative-position {
  position: relative;
}

.loading-icon {
  position: absolute;
  top: -20px;
  left: 0px;
}
