<ng-container *ngIf="componentData">
  <div class="flex">
    <label class="block-title flex-row">
      {{'sqtm-core.entity.scm-server.credentials.label' | translate}}
    </label>
    <i *ngIf="componentData.scmServer.authProtocol==='BASIC_AUTH'"
       nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
       class="m-l-5 font-18-px current-workspace-main-color"
       nz-tooltip
       [nzTooltipTitle]="'sqtm-core.administration-workspace.servers.scm-servers.credentials.basic.tooltip' | translate">
    </i>
  </div>

  <div class="block-border p-l-10 m-t-8">
    <sqtm-core-third-party-credentials-form
        (submit)="sendCredentialsForm($event)"
        [authenticationProtocol]="componentData.scmServer.authProtocol"
        [credentials]="componentData.scmServer.credentials"
        [useRevokeButton]="false">
    </sqtm-core-third-party-credentials-form>

    <div class="full-row flex-row">
      <div class="flex-row" style="align-items: center;">
        <ng-container [ngSwitch]="statusIcon">
          <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#1890FF'"></i>
        </ng-container>
        <b [attr.data-test-component-id]="'status-message'">
          {{credentialsStatusMessage | translate}}
        </b>
      </div>
    </div>
  </div>
</ng-container>
