<ng-container *ngIf="!(viewService.entityNotFound$ | async); else notFound">
  <ng-container *ngIf="viewService.componentData$ | async; else loading">
    <ng-content></ng-content>
  </ng-container>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>

<ng-template #notFound>
  <sqtm-core-entity-not-found
    [httpError]="viewService.loadError$ | async">
  </sqtm-core-entity-not-found>
</ng-template>
